parameters:
    level: 5
    paths:
        - zw-staart.php
        - src
    excludePaths:
        - vendor
    scanDirectories:
        - vendor/php-stubs/wordpress-stubs
    treatPhpDocTypesAsCertain: false
