name: Lint

permissions:
  contents: read

on:
  push:
    branches: [main]
    paths: ['**/*.php', 'composer.json', 'composer.lock']
  pull_request:
    paths: ['**/*.php', 'composer.json', 'composer.lock']

jobs:
  lint:
    name: QA
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php: ['8.3', '8.4']
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2, cs2pr
      - run: composer validate --no-check-publish
      - run: composer install --no-progress
      - run: vendor/bin/phpcs -q --report=checkstyle | cs2pr
      - run: vendor/bin/phpstan analyse --error-format=checkstyle | cs2pr
      - name: Run wp-plugin-check
        if: matrix.php == '8.4'
        uses: wordpress/plugin-check-action@v1
        with:
          exclude-checks: |
            late_escaping
            plugin_review_phpcs
            file_type
            plugin_readme
